@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400&display=swap');
:root{
    --navbarColor:rgb(9, 24, 47);
    --bodyColor:rgb(10, 25, 47);
    --hoverTextColor:rgb(95, 243, 209);
}
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bodyColor);
    font-family: 'Hanken Grotesk', sans-serif;
    position: relative;
}
::-webkit-scrollbar{
    width: 5px;
    background:transparent;
}
::-webkit-scrollbar-thumb{
    background-color: var(--hoverTextColor);
    border-radius: 5px;
}
/* Navbar Styles */
.mela-logo{
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
}
.navbar{
    height: 10vh;
    width: 100vw;
    background: var(--navbarColor);
    color:white;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    z-index:1;
}
.navbar ul{
    width: 25%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}
.navbar ul a {
    text-decoration: none;
    color:white;
    transition:all 400ms;
}
.navbar ul a:hover{
    color:var(--hoverTextColor);
    filter:drop-shadow(0 0 12px var(--hoverTextColor));
}
.navbar ul li:last-of-type a{
    padding:10px 10px;
    color:var(--hoverTextColor);
}
.navbar ul li:last-of-type{
    padding:10px 0px;
    border:2px solid var(--hoverTextColor);
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms;
}
.navbar ul li:last-of-type:hover{
    background-color: rgba(95, 243, 209, .1);
}
.hamburger-btn, .close-hamburger-btn{
    width: 50px;
    height: 35px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.close-hamburger-btn{
    width: 50px;
    height: 50px;
}
.x-icon{
    height: 100%;
    width: 100%;
}
.burger-line{
    height: 3px;
    width: 100%;
    background-color: white;
}
.line2{
    width: 75%;
}
.line3{
    width: 50%;
}
/* Sidebar Styles */
.sidebar{
    height: 8vw;
    position: fixed;
    right: 0px;
    bottom: 10px;
    margin-right: 15px;
}
.sidebar ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
.mobile-sidebar{
    display: none;
}
.github-icon, .linkedin-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    color:white;
    transition: all 300ms;
}
.github-icon:hover{
    color:var(--hoverTextColor);
    filter:drop-shadow(0 0 10px var(--hoverTextColor));
}
.linkedin-icon:hover{
    fill:var(--hoverTextColor);
    filter:drop-shadow(0 0 10px var(--hoverTextColor));
}
/* Sections*/
.introduction{
    height: 50vh;
    margin-bottom: 30vh;
    scroll-margin-top:20vh;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduction-h2{
    position: relative;
    color:var(--hoverTextColor);
    margin-left: -12vw;
    opacity: 0;
    transition: all .9s;
}
.introduction-h2 p{
    font-size: .3em;
    color:white;
}
.introduction h2::before{
    content:"Hi, my name is";
    font-size:.4em;
    position: absolute;
    top: -30px;
    color:white;
}
.introduction h2::after{
    content:"I'm a Frontend Developer";
    font-size:.3em;
    position: absolute;
    bottom:-25px;
    right: 0;
    color:white;
}
.about-me{
    width: 50%;
    font-size: 1.25em;
    line-height: 1.5;
    scroll-margin-top: 10vh;
    margin-left: -5vw;
    opacity: 0;
    transition: all .9s;
}
.about-me h2{
    width: 100%;
    font-size: 2em;
    margin-bottom: 25px;
    color:var(--hoverTextColor);
    position: relative;
    z-index: -1;
}
.about-me h2::after, .projects-section h2::after{
    content:"";
    width: 250px;
    height: 1px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top:50%;
    left:35%;
}
/* Projects Section */
.sections-wrapper{
    width: 55vw;
    margin:auto;
    margin-top: 10vw;
    color:white;
}
.projects-section{
    max-width: 100%;
    margin-top: 10%;
    margin-left: -5vw;
    opacity: 0;
    scroll-margin-top: 10vh;
    font-size: 1.25em;
    transition: all .9s;
}
.projects-section h2{
    width: 100%;
    font-size: 2em;
    color:var(--hoverTextColor);
    position: relative;
    margin-bottom: 10%;
}
.projects-section h2::after{
    left:15%;
}
.projects{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20%;
    opacity: 0;
}
.projects-left{
    margin-left: -10%;
    transition: all .9s;
}
.projects-right{
    margin-left: 15%;
    transition: all .9s;
}
.projects-img{
    width: 100%;
}
.mobile-projects{
    width: 100%;
}
.mobile-projects-img{
    width: 70%;
}
.projects-description{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding:0 10px;
}
.projects-description p{
    text-align: center;
}
.projects-tags3, .projects-tags2{
    font-size: .8em;
    color:rgba(255, 255, 255, .5);
    display:flex;
    justify-content: space-between;
}
.projects-tags2{
    width: 25%;
}
.projects-tags3{
    width: 50%;
}
.mobile-projects-tags3{
    width: 50%;
}
.projects h3{
    margin-bottom: 10px;
    font-size: 1.5em;
    color:var(--hoverTextColor)
}
.projects-links{
    margin-top:15px;
}
.projects-links a{
    text-decoration: none;
    color:var(--hoverTextColor);
    margin:0px 15px;
    position: relative;
    transition: color 100ms, filter 400ms;
}
.projects-links a:hover{
    filter:drop-shadow(0 0 10px var(--hoverTextColor))
}
.projects-links a:active{
    color:rgb(55, 175, 147);
}
/* This class is used to show elements on scroll */
.visible-elements{
    opacity: 1;
    margin-left: 0;
}
/* Contact Section */
.contact{
    height: 40vh;
    margin:25% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: 0;
    transform: translateY(200px);
    transition: all .9s;
}
.visible-contact-section{
    opacity: 1;
    transform: translateY(0);
}
.contact h2{
    font-size: 3.5em;
}
.contact p{
    font-size: 1.4em;
}
.contact a{
    padding:20px 40px;
    border:1px solid var(--hoverTextColor);
    border-radius: 5px;
    text-decoration: none;
    color:var(--hoverTextColor);
    transition:all 200ms;
}
.contact a:hover{
    background-color: rgba(95, 243, 209, .1);
}
/* Media Queries */
/* Laptops */
@media only screen and (max-width:1283px){
     /* Navbar */
    .navbar ul{
        width: 35vw;
    }
    .sections-wrapper{
        width: 65vw;
    }
    .introduction{
        margin:25vh 0;
    }
    /* About Section */
    .about-me{
        width: 100%;
    }
    .about-me h2::after{
        left:22%;
    }
    /* Projects Section */
    .projects-section h2::after{
        left:18.5%;
    }
    .projects-tags2{
        width: 30%;
    }
    .projects-tags3{
        width: 45%;
    }
    .mobile-projects-tags3{
        width: 70%;
    }
    .contact{
        margin:25vh 0;
    }
}   
/* Nest Hub */
@media only screen and (max-width:1024px){
    .navbar{
        width: 100vw;
        height: 12vh;
    }
    .navbar ul{
        width: 50%;
        font-size: 1.1em;
    }
    .sections-wrapper{
        width: 80vw;
    }
    .introduction{
        text-align: center;
    }
    .introduction h2{
        width: 51%;
        font-size: 1.2em;
    }
    .introduction h2::before{
        top: -20px;
    }
    .introduction h2::after{
        right: 45px;
        bottom: -20px;
    }
    .projects-tags{
        width: 50%;
    }
    .contact{
        height: 65vh;
    }
}
/* Surface Pro 7 */
@media only screen and (max-width:912px){
    /* Navbar */
    .navbar{
        height: 5vh;
    }
    .navbar ul{
        width: 50%;
        font-size: 1em;
        margin-right: 20px;
    }
    .sections-wrapper{
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Introduction Section */
    .introduction{
        width: 100%;
        margin-top: 15vh;
    }
    .introduction h2{
        font-size: 1.2em;
    }
    .introduction h2::before{
        top:-20px;
    }
    .introduction h2::after{
        bottom: -20px;
    }
    /* About Section */
    .about-me{
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 20vh;
    }
    .about-me h2::after{
        left:25%;
    }
    /* Projects */
    .projects-section{
        font-size: 1.5em;
    }
    .projects-section h2::after{
        left:21%;
    }
    .projects{
        height: fit-content;
        flex-direction: column;
    }
    .projects-right{
        flex-direction: column-reverse;
    }
    .mobile-projects-img-wrapper{
        min-height: 85%;
        width: 50%;
        overflow: hidden;        
        margin-bottom: 50px;
    }
    .mobile-projects-img{
        height: 95%;
        width: 100%;
    }
    .wallpaper-app-img{
        height: 40dvh;
    }
    .mobile-projects-tags3{
        min-width: 80%;
        margin-left: 10%;
    }
    .projects-description{
        font-size: 1.1em;
        margin-top: 5vh;
    }
    .projects-links{
        font-size: 1.3em;
    }
    .projects-tags2{
        width: 20%;
    }
    .projects-tags3{
        width: 30%;
    }
    .contact p{
        font-size: 1.6em;
    }
    .contact a{
        font-size: 1.8em;
    }
}
@media only screen and (max-width:900px){
    .navbar ul{
        width: 50%;
        margin-right: 10px;
    }
    .sections-wrapper{
        width: 85vw;
    }
    /* Introduction Section */
    .introduction h2{
        width: 45%;
        font-size: 1.2em;
    }
    .introduction h2::before{
        font-size: .5em;
    }
    .introduction h2::after{
        font-size: .3em;
        right: 20px;
    }
    /* About me section */
    .about-me{
        width: 100%;
    }
    .about-me h2::after{
        left:29%;
    }
    /* Projects Sections */
    .projects-section h2::after{
        left:25%;
    }
    .projects-tags2{
        width: 35%;
    }
    .projects-tags3{
        width: 45%;
    }
    .mobile-projects-tags3{
        width: 70%;
    }
}
/* iPad Air */
@media only screen and (max-width:834px){
    .navbar{
        height: 5vh;
        position: fixed;
        z-index: 1;
    }
    .navbar ul{
        display: none;
    }
    /* The button which expands the sidebar */
    .hamburger-btn{
        height: 25px;
        width: 42px;
        display: flex;
        margin-top: 2%;
        margin-right: 5%;
    }
    .close-hamburger-btn{
        display: flex;
        margin:5% 5%;
    }
    .mobile-sidebar{
        width: 50vw;
        height: 100vh;
        background-color: var(--navbarColor);
        border-left: 1px solid rgba(255, 255, 255, .2);
        position: fixed;
        display: block;
        z-index: 4;
        top:0;
        right: -52vw;
        box-shadow: 0 0 5px rgba(255, 255, 255, .3);
        transition: all 350ms ease-in-out;
    }
    .mobile-sidebar ul{
        height: 35%;
        list-style: none;
        margin-top: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .list-elems{
        height: 15%;
        opacity: 0;
        margin-left: 10%;
        transition: all 250ms linear 300ms;
    }
    .list-elems:active{
        background-color: rgba(255, 255, 255, .3);
    }
    .mobile-sidebar a {
        min-width: 100%;
        min-height: 100%;
        display: block;
        color:white;
        text-decoration: none;
        font-size: 1.5em;
        line-height: 2.5;
    }
    .active-mobile-sidebar{
        right:0;
    }
    .li2{
        transition-delay: 400ms;
    }
    .li3{
        transition-delay: 500ms;
    }
    .li4{
        transition-delay: 600ms;
    }
    .li5{
        transition-delay:700ms
    }
    .active-li{
        opacity: 1;
        margin:0;
    }
    .dark-div{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        top:0;
        left:0;
        z-index: 1;
        display: none;
    }
    .activeDark{
        display: block;
    }
    /* Sidebar */
    .sidebar{
        width: 30%;
        right: 50%;
        position: absolute;
        transform: translateX(50%);
    }
    .github-icon, .linkedin-icon{
        width: 40px;
        height: 40px;
    }
    .sidebar ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    /* Sections */
    .sections-wrapper{
        display: flex;
        flex-direction: column;
        z-index: -5;
    }
    /* Introduction Section */
    .introduction{
        text-align: center;
    }
    .introduction-h2{
        min-width: 50%;
        text-align: center;
    }
    .introduction h2::after{
        right:10px;
    }
    /* About section */
    .about-me h2::after{
        left:32%;
    }
    /* Projects */
    .projects-section h2::after{
        left:27%;
    }
    .projects-right{
        flex-direction: column-reverse;
    }
    .projects-left{
        flex-direction: column;
    }
    .projects-title{
        font-size: 1em;
    }
    .projects-description{
        font-size: .8em;
    }
    .projects-links{
        margin-top: 10%;
    }
    .projects-links a{
        padding:10px 15px;
        border:1px solid var(--hoverTextColor);
        border-radius: 5px;
    }
    .projects-links a:hover{
        filter: none;
    }
    .projects-tags2{
        width: 25%;
    }
    .projects-tags3{
        width: 40%;
    }
    .mobile-projects-tags3{
        width: 95%;
        margin-left:2.5%;
    }
    /* Contact Section */
    .contact{
        margin: 25vh 0;
    }
    .contact h2{
        font-size: 3em;
    }
    .contact p{
        font-size: 1.3em;
        text-align: center;
    }
    .contact a{
        font-size: 1.3em;
    }
    .github-icon, .linkedin-icon{
        width: 30px;
    }
}
/* iPad Mini */
@media only screen and (max-width:768px){
    .navbar{
        height: 6vh;
    }
    .hamburger-btn{
        margin-top: 2.5%;
    }
    /* Mobile Sidebar */
    .mobile-sidebar ul{
        height: 40%;
    }
    /* Introduction Section */
    .introduction-h2{
        min-width: 54%;
    }
    .introduction h2::before{
        font-size: .45em;
    }
    .introduction h2::after{
        right: 10px;
    }
    /* About section */
    .about-me h2::after{
        left:35%;
    }
    /* Projects */
    .projects-section h2::after{
        left:30%;
    }
    .projects-links{
        margin-top: 100px;
    }
    /* Wrapper of the github and linkedin icons */
    .sidebar ul{
        margin-left: 20px;
    }
}
/* Surface Duo */
@media only screen and (max-width:540px){
    .navbar{
        height: 7vh;
    }
    .mela-logo{
        width: 50px;
    }
    .mobile-sidebar{
        width: 70vw;
        right:-70vw;
        z-index: 2;
    }
    .active-mobile-sidebar{
        right: 0;
    }
    .mobile-sidebar ul{
        height: 60%;
    }
    .hamburger-btn, .close-hamburger-btn{
        width: 40px;
    }
    /* Introduction */
    .introduction h2{
        width: 75%;
        font-size: 1.2em;
        margin-left:0px;
    }
    .introduction h2::before{
        top:-20px;
    }
    .introduction h2::after{
        bottom: -20px;
    }
    /* About me */
    .about-me h2::after{
        left:48%;
    }
    /* Projects */
    .projects-section h2::after{
        left:40%;
    }
    .projects{
        height: fit-content;
    }
    .projects-description{
        font-size: .9em;
    }
    .mobile-projects-img-wrapper{
        width: 75%;
    }
    .projects-links a{
        padding:5px 10px;
        font-size: .9em;
    }
    .projects-tags2{
        width: 35%;
    }
    .projects-tags3{
        width: 60%;
    }
    .mobile-projects-tags3{
        width: 100%;
        margin:0;
    }
    .wallpaper-app-img{
        width: 50vw;
        height: 65vh;
    }
    .contact h2{
        font-size: 2em;
    }
    .contact p {
        font-size: 1em;
    }
    .contact a{
        font-size: 1.2em;
        padding:15px 15px;
    }
    .github-icon, .linkedin-icon{
        height: 25px;
        width: 25px;
    }
}
/* iPhone 14 Pro Max/13 Pro Max/12 Pro Max */
@media only screen and (max-width:430px){
    .navbar{
        height: 8vh;
    }
    .hamburger-btn, .close-hamburger-btn{
        height: 30px;
        width: 40px;
        margin-top: 5%;
    }
    /* The div that contains the github and linkedin icons */
    .sidebar{
        width: 60%;
    }
    /* Mobile Sidebar */
    .mobile-sidebar{
        width: 100vw;
        right: -100vw;
    }
    .active-mobile-sidebar{
        right:0;
    }
    .mobile-sidebar ul{
        height: 45%;
    }
    /* Sections Wrapper */
    .sections-wrapper{
        width: 95vw;
        padding-bottom: 100px;
    }
    /* Introduction Section */
    .introduction h2{
        width: 100%;
        font-size: 1em;
        margin-left:0;
    }
    .introduction h2::before{
        top:-20px;
    }
    .introduction h2::after{
        bottom: -15px;
        right: 70px;
    }
    /* About me Section */
    .about-me h2, .projects-section h2{
        font-size: 1.5em;
    }
    .about-me h2::after{
        width: 200px;
        left:42%;
    }
    /* Projects Section */
    .projects-section h2::after{
        left: 150px;
    }
    .mobile-projects-img-wrapper{
        width: 70%;
    }
    .mobile-projects-img{
        height: 90%;
    }
    .wallpaper-app-img{
        width: 80dvw;
    }
    .projects-tags2, .projects-tags3{
        width: 35%;
        margin-bottom: 50px;
        font-size: .7em;
    }
    .projects-tags3{
        width: 55%;
    }
    .mobile-projects-tags3{
        width: 95%;
    }
    .projects-links{
        font-size: 1em;
    }
    .contact{
        margin-bottom: 10vh;
    }
}
/* iPhone XR/XS Max */
@media only screen and (max-width:414px) {
    .navbar{
        height: 6vh;
    }
    .hamburger-btn{
        height: 25px;
        width: 38px;
        margin-top: 4%;
    }
    .mela-logo{
        width: 50px;
    }
    .close-hamburger-btn{
        width: 40px;
        height: 25px;
    }
    .mobile-sidebar{
        width: 100vw;
    }
    .mobile-sidebar ul{
        height: 55%;
    }
    .dark-div{
        width: 0;
    }
    .sections-wrapper{
        width: 95vw;
    }
    /* Introduction section styles */
    .introduction h2{
        width: 80%;
        font-size: 1em;
        margin-left: 0;
    }
    .introduction h2::before{
        top: -20px;
    }
    .introduction h2::after{
        bottom: -20px;
        right: 20px;
    }
    /* About me */
    .about-me h2::after{
        left:44%;
    }
    /* Projects */
    .projects-section h2::after{
        width: 200px
    }
    .projects{
        margin:30vh 0;
    }
    .projects:first-of-type{
        margin-top:10vh;
    }
    .projects-tags2{
        width: 35%;
    }
    .projects-tags3{
        width: 55%;
    }
    .mobile-projects-tags3{
        width: 95%;
    }
    .projects-description{
        margin-top: 10vh;
        font-size: .8em;
    }
    .projects-links{
        width: 90%;
        margin-top:5vh;
        display: flex;
        justify-content: space-around;
    }
    .projects-links a{
        font-size: 1em;
    }
    .contact{
        width: 100%;
        margin:0;
    }
    .contact h2{
        font-size: 2.5em;
    }
    .contact p{
        font-size: 1.3em;
    }
    .contact a{
        font-size: 1.3em;
        padding:15px 25px;
    }
    /* Sidebar with the GitHub and Linkedin icons */
    .sidebar{
        width: 60%;
    }
    .github-icon, .linkedin-icon{
        width: 25px;
        height: 25px;
    }
}
/* S20 Ultra */
@media only screen and (max-width:412px){
    .navbar{
        height: 7vh;
    }
    .hamburger-btn{
        width: 40px;
        height: 30px;
        margin-top: 4%;
    }
    .close-hamburger-btn{
        width: 40px;
        height: 30px;
    }
    /* Mobile Sidebar */
    .mobile-sidebar{
        width: 100vw;
    }
    .mobile-sidebar ul{
        height: 45%;
    }
    .sections-wrapper{
        width: 100vw;
    }
    /* Introduction Section */
    .introduction h2{
        width: 290px;
        font-size: 1em;
    }
    .introduction h2::before{
        top: -20px;
    }
    .introduction h2::after{
        bottom:-20px;
        right: 10px;
    }
    /* About me Section */
    .about-me{
        width: 98%;
    }
    /* Projects Section */
    .projects-section{
        width: 98%;
    }
    .projects-section h2{
        width: 90%;
        font-size: 1.8em;
        margin-bottom: 20%;
    }
    .projects-section h2::after{
        left:48%;
    }
    .projects:first-of-type{
        margin:0 0 20% 0;
    }
    .projects{
        margin:55% 0;
    }
    .projects-description h3{
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    .projects-section p, .projects-links{
        font-size: 1em;
    }
    .projects-tags2{
        font-size: .7em;
        width: 35%;
    }
    .projects-tags3{
        font-size: .7em;
    }
    /* Contact Section */
    .contact h2{
        font-size: 2em;
    }
    .contact p{
        font-size: 1em;
    }
    .contact a{
        font-size: 1em;
        padding:15px 30px;
    }
    .github-icon, .linkedin-icon{
        width: 20px;
    }
}
/* iPhone 11 Pro */
@media only screen and (max-width:376px){
    .navbar{
        align-items: center;
    }
    .hamburger-btn{
        margin-bottom: 10px;
    }
    /* Mobile Sidebar */
    .mobile-sidebar ul{
        height: 50%;
    }
    /* Introduction Sections */
    .introduction h2{
        width: 100%;
        font-size: 1em;
        margin-left:0;
    }
    .introduction h2::before{
        top: -20px;
    }
    .introduction h2::after{
        bottom: -10px;
        right: 50px;
    }
    /* About me Section*/
    .about-me h2, .projects-section h2{
        font-size: 1.7em;
    }
    /* Projects-section */
    .projects-section h2{
        margin-bottom: 30%;
    }
    .projects-section h2::after{
        width: 195px;
    }
    .mobile-projects-img-wrapper{
        width: 80dvw;
    }
    .mobile-projects-img{
        min-width: 100%;
    }
    .projects-description p {
        margin-bottom: 30px;
    }
    .projects-description h3{
        font-size: 1.2em;
    }
    .projects-description p{
        font-size: 1em;
    }
    .projects-links{
        font-size: 1em;
    }
    .projects-tags2, .projects-tags3{
        margin-bottom: -30px;
    }
    .projects-tags3{
        width: 70%;
    }
}
/* iPhone SE */
@media only screen and (max-width:375px){
    .navbar{
        height: 8vh;
    }
    .hamburger-btn{
        margin-top: 3%;
    }
    .mobile-sidebar ul{
        height: 60%;
    }
    /* About me Section */
    .about-me h2{
        font-size: 1.5em;
    }
    /* Projects Section */
    .projects-section h2{
        margin-bottom: 10%;
    }
}
/* S21FE */
@media only screen and (max-width:360px){
    /* Navbar Styles */
    .navbar{
        height: 7vh;
        width: 100vw;
    }
    .hamburger-btn{
        margin-top: 3%;
    }
    .mobile-sidebar ul{
        height: 55%;
    }
    /* Introduction Section Styles */
    .introduction h2{
        width: 100%;
        font-size: .9em;
        margin-left:0;
    }
    .introduction h2::after{
        right:55px;
    }
    /* About me */
    .about-me h2::after{
        width: 165px;
        left:50%;
    }
    /* Projects section */
    .projects-section h2{
        margin-bottom: 20%;
    }
    .projects-section h2::after{
        width: 165px;
        left:50%;
    }
    .projects-description{
        max-height: 60%;
    }
    .projects-links{
        margin:0;
    }
    .projects-description h3{
        font-size: 1.2em;
    }
    .projects-description p{
        font-size: .9em;
    }
    .projects-links a{
        font-size: 1em;
    }
    .mobile-projects-img-wrapper{
        margin-bottom: -20px;
    }
}
